<% flash[:notice]%>
<table class='table table-inverse table-hover'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
    </thead>
  <tbody>
  <% books.each do |book| %>
 <tr>
    <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td><%= link_to book.book_name,book, class: "book_#{book.id}" %></td>
    <td><%= book.book_body %></td>
 </tr>
<% end %>
   </tbody>
</table>